@media screen and (min-width: 1051px) {
    header h1::before{
        content: '¿Interesado? ';
    }
}

@media screen and (min-width: 855px) and (max-width: 1051px){
    .container {
        width: 90%;
    }

    header h1::before{
        content: '¿Interesado? ';

    }

    .container .step-img{
        width: 100%;
    }
}

@media screen and (min-width: 675px) and (max-width: 855px) {
    .container {
        width: 95%;
    }

    header h1::before{
        content: '¿Interesado? ';

    }

    .container .step-img{
        width: 100%;
    }
}

@media screen and (min-width: 480px) and (max-width: 675px) {
    .container {
        width: 95%;
    }

    .btn-box {
        padding: 0 30px;
    }
    
    .container .step-img{
        width: 100%;
    }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
    .container {
        width: 95%;
    }

    .container header{
        top: 35px;
    }

    header h1 {
        font-weight: 700;
        font-size: 30px;
        line-height: 30px;
    }

    header h2{
        font-weight: 400;
        font-size: 19px;
        line-height: 24px;
    }

    header h4{
        font-weight: 400;
        font-size: 32px;
        line-height: 40px;
    }

    .btn-box {
        padding: 0 20px;
    }

    .container .step-img{
        width: 100%;
    }
}

@media screen and (max-width: 320px) {
    .container {
        width: 95%;
    }

    .container header{
        top: 30px;
    }

    header h1 {
        font-weight: 700;
        font-size: 26px;
        line-height: 26px;
    }

    header h2{
        font-weight: 400;
        font-size: 15px;
        line-height: 19px;
    }

    header h4{
        font-weight: 400;
        font-size: 24px;
        line-height: 30px;
    }

    .btn-box {
        padding: 0 8px;
    }

    .container .step-img{
        width: 100%;
    }
}
