@media screen and (max-width: 1100px) {
    .container {
        width: 802px;
    }

    .container header {
        width: 719px;
        left: 41.5px;
    }

    .container form {
        width: 719px;
        left: 41.5px;
    }
}

@media screen and (max-width: 855px) {
    .container {
        width: 624px;
    }
    
    .container header {
        width: 559px;
        left: 32.5px;
    }

    .container form {
        width: 559px;
        left: 32.5px;
    }
}

@media screen and (max-width: 675px) {
    .container {
        width: 95%;
    }
}

