@media screen and (min-width: 1051px) {
    header h1::before{
        content: '¿Interesado? ';
    }
}

@media screen and (min-width: 855px) and (max-width: 1051px){
    .container {
        width: 90%;
    }

    header h1::before{
        content: '¿Interesado? ';

    }
}

@media screen and (min-width: 675px) and (max-width: 855px) {
    .container {
        width: 95%;
        padding: 7% 0;
    }

    header h1::before{
        content: '¿Interesado? ';

    }

    .quest4-form1 {
        width: 429px;
    }

}

@media screen and (min-width: 480px) and (max-width: 675px) {

    html {
        font-size: 9px;
    }

    .container {
        width: 95%;
        padding: 8% 0;
    }

    

}

@media screen and (max-width: 675px) {

    #barra1{
        width: 165%;
        /* left: -65%; */
    }

    #barra2{
        width: 175%;
        /* left: -75%; */
    }


    /* haciendo la segunda pregunta del formulario 1 responsive */

    .quest2-form1 {
        flex-direction: column;
        padding-left: 15px;
        margin-bottom: 5%;
    }

    .op1-p2,
    .op2-p2,
    .op3-p2{
        width: 100%;
        max-width: 488px;
        display: flex;
        justify-content: left;
        align-items: center;
        flex-direction: row;
        height: 100px;
        margin-bottom: 24px;
        padding: 0 15px 0 36px;
    }

    .op1-p2 h4,
    .op2-p2 h4,
    .op3-p2 h4{
        margin-left: 6.45%;
        max-width: none;
    }

    .circulito2-form1 {
        top: 34px;
        left: -15px;
    }

    input[type="radio"]:checked + label .circulito2-form1 {
        left: -21px;
        top: 34px;
    }

    /* haciendo la segunda pregunta del formulario 2 responsive */

    .quest2-form2 {
        flex-direction: column;
        padding-left: 15px;
        margin-bottom: 5%;
        justify-content: center;
        align-items: center;
    }

    .p-form2 {
        width: 100%;
        max-width: 488px;
        display: flex;
        justify-content: left;
        align-items: center;
        flex-direction: row;
        height: 100px;
        margin-bottom: 24px;
        padding: 0 15px 0 36px;
    }

    .p-form2 h4 {
        margin-left: 6.45%;
        margin-top: 0;
    }

    /* haciendo la 4 pregunta del formulario 1 responsive */

    .quest4-form1{
        flex-direction: column;
        padding-left: 15px;
        margin-bottom: 5%;
        justify-content: center;
        align-items: center;
    }

    .p4 {
        width: 100%;
        max-width: 488px;
        display: flex;
        justify-content: left;
        align-items: center;
        flex-direction: row;
        height: 100px;
        margin-bottom: 24px;
        padding: 0 15px 0 36px;
    }

    .circulito4-form1 {
        top: 34px;
        left: -15px;
    }

    input[type="radio"]:checked + label .circulito4-form1 {
        left: -21px;
        top: 34px;
    }

    .number {
        width: 100%;
        left: 0px;
        bottom: -30px;
    }

    /* haciendo la 4 pregunta del formulario 2 responsive */

    .quest4-form2{
        flex-direction: column;
        padding-left: 15px;
        margin-bottom: 5%;
        justify-content: center;
        align-items: center;
    }

     /* haciendo la segunda pregunta del formulario 1 responsive */

     .check{
        width: 100%;
    }

    .checkbox7_form1{
        padding-left: 10%;
    }

    .checkbox8_form1{
        padding-left: 10%;
    }

}

@media screen and (min-width: 321px) and (max-width: 480px) {
    .container {
        width: 95%;
        padding: 8% 0;
    }

    .container header{
        top: 35px;
    }

    html {
        font-size: 8px;
    }

    .circulo {
        width: 60px;
        height: 60px;
    }

    .last_btn_box{
        display: flex;
        flex-direction: column;
        margin-top: 0px;
    }

    .last_btn_box button {
        width: 100%;
        height: auto;
        min-height: 35px;
    }

    .bt1{
        margin-bottom: 20px;
    }

    .bt2{
        padding: 20px 0;
        font-size: 20px;
    }

    #form5-linea1 .r{
        font-size: 23px;
        padding-bottom: 10px;
    }

}

@media screen and (max-width: 320px) {

    html {
        font-size: 7.7px;
    }

    .container {
        width: 95%;
        padding: 10% 0;
    }

    .container header{
        top: 30px;
        margin-bottom: 4%;
    }

    header h2 {
        line-height: 19px;
        font-size: 16px;

    }

    header h4 {
        margin-top: 9px;
    }
    
    h3 {
        font-size: 18px;
        margin-bottom: 7%;
    }

    .circulo {
        width: 50px;
        height: 50px;
    }
    .escala{
        width: 19px;
        height: 19px;
    }

    #barra_space{
        margin-bottom: 3%;
    }

    button {
        width: 101px;
        height: 35px;
        font-size: 15px;
    }

    .btn-box {
        margin-top: 15%;
    }

    #form5-linea1 .r{
        font-size: 20px;
        padding-bottom: 10px;
    }

    .resumen {
        font-size: 16px;
        padding-bottom: 20px;
    }

    .last_btn_box{
        display: flex;
        flex-direction: column;
        margin-top: 0px;
    }

    .last_btn_box button {
        width: 100%;
        height: auto;
        min-height: 35px;
    }

    .bt1{
        margin-bottom: 20px;
    }
}


@media screen and (max-width: 739px) {
    #lastForm {
        left: 0%;
        margin-left: 0px;
    }

    .cubo {
        margin-right: 10px;
    }
}