@media screen and (min-width: 1051px) {
    header h1::before{
        content: '¿Interesado? ';
    }
}

@media screen and (min-width: 855px) and (max-width: 1051px){
    .container {
        width: 90%;
    }

    header h1::before{
        content: '¿Interesado? ';

    }
}

@media screen and (min-width: 675px) and (max-width: 855px) {
    .container {
        width: 95%;
        padding: 7% 0;
    }

    header h1::before{
        content: '¿Interesado? ';

    }

    .quest4-form1 {
        width: 429px;
    }

}

@media screen and (min-width: 480px) and (max-width: 675px) {

    html {
        font-size: 9px;
    }

    .container {
        width: 95%;
        padding: 8% 0;
    }

    

}

@media screen and (max-width: 675px) {

    #barra1{
        width: 165%;
        /* left: -65%; */
    }

    #barra2{
        width: 175%;
        /* left: -75%; */
    }


    /* haciendo la segunda pregunta del formulario 1 responsive */

    .quest2-form1 {
        flex-direction: column;
        padding-left: 15px;
        margin-bottom: 5%;
    }

    .op1-p2,
    .op2-p2,
    .op3-p2{
        width: 100%;
        max-width: 488px;
        display: flex;
        justify-content: left;
        align-items: center;
        flex-direction: row;
        height: 100px;
        margin-bottom: 24px;
        padding: 0 15px 0 36px;
    }

    .op1-p2 h4,
    .op2-p2 h4,
    .op3-p2 h4{
        margin-left: 6.45%;
        max-width: none;
    }

    .circulito2-form1 {
        top: 25%;
        left: -15px;
    }

    input[type="radio"]:checked + label .circulito2-form1 {
        left: -16px;
        top: 25%;
    }

    /* haciendo la segunda pregunta del formulario 2 responsive */

    .quest2-form2 {
        flex-direction: column;
        padding-left: 15px;
        margin-bottom: 5%;
        justify-content: center;
        align-items: center;
    }

    .p-form2 {
        width: 100%;
        max-width: 488px;
        display: flex;
        justify-content: left;
        align-items: center;
        flex-direction: row;
        height: 100px;
        margin-bottom: 24px;
        padding: 0 15px 0 36px;
    }

    .p-form2 h4 {
        margin-left: 6.45%;
        margin-top: 0;
    }

    /* haciendo la 4 pregunta del formulario 1 responsive */

    .quest4-form1{
        flex-direction: column;
        padding-left: 15px;
        margin-bottom: 5%;
        justify-content: center;
        align-items: center;
    }

    .p4 {
        width: 100%;
        max-width: 488px;
        display: flex;
        justify-content: left;
        align-items: center;
        flex-direction: row;
        height: 100px;
        margin-bottom: 24px;
        padding: 0 15px 0 36px;
    }

    .circulito4-form1 {
        top: 25%;
        left: -15px;
    }

    input[type="radio"]:checked + label .circulito4-form1 {
        left: -15px;
        top: 25%;
    }

    .number {
        width: 100%;
        left: 0px;
        bottom: -30px;
    }

    /* haciendo la 4 pregunta del formulario 2 responsive */

    .quest4-form2{
        flex-direction: column;
        padding-left: 15px;
        margin-bottom: 5%;
        justify-content: center;
        align-items: center;
    }

     /* haciendo la segunda pregunta del formulario 1 responsive */

    .check{
        width: 100%;
    }

}

@media screen and (min-width: 351px) and (max-width: 480px) {
    .container {
        width: 95%;
        padding: 8% 0;
    }

    .container header{
        top: 35px;
    }

    html {
        font-size: 8px;
    }

    .circulo {
        width: 60px;
        height: 60px;
    }

    .last_btn_box{
        display: flex;
        flex-direction: column;
        margin-top: 0px;
    }

    .last_btn_box button {
        width: 100%;
        height: auto;
        min-height: 35px;
    }

    .bt1{
        margin-bottom: 20px;
    }

    .bt2{
        padding: 20px 0;
        font-size: 20px;
    }

    #form5-linea1 .r{
        font-size: 23px;
        padding-bottom: 10px;
    }

}

@media screen and (max-width: 350px) {

    html {
        font-size: 7.7px;
    }

    .container {
        width: 95%;
        padding: 10% 0;
    }

    .container header{
        top: 30px;
        margin-bottom: 0;
    }

    header h1 {
        font-size: 26px;
    }

    header h2 {
        line-height: 19px;
        font-size: 15px;
        margin-top: 0px;
    }

    header h4 {
        margin-top: 2px;
        font-size: 25px;
    }
    
    h3 {
        font-size: 18px;
        margin-bottom: 7%;
        line-height: 22.5px;
    }

    .circulo {
        width: 50px;
        height: 50px;
    }
    .escala{
        width: 19px;
        height: 19px;
    }

    #barra_space{
        margin-bottom: 3%;
    }

    button {
        width: 101px;
        height: 35px;
        font-size: 15px;
    }

    .btn-box {
        margin-top: 15%;
    }

    #form5-linea1 .r{
        font-size: 20px;
        padding-bottom: 10px;
    }

    .resumen {
        font-size: 16px;
        padding-bottom: 20px;
    }

    .last_btn_box{
        display: flex;
        flex-direction: column;
        margin-top: 0px;
    }

    .last_btn_box button {
        width: 100%;
        height: auto;
        min-height: 35px;
    }

    .bt1{
        margin-bottom: 20px;
    }

    /* circulito primera pregunta */

    input[type="radio"]:checked + label .circulito {
        width: 30px;
        height: 30px;
    }

    .circulito {
        width: 30px;
        height: 30px;
    }

    .circulito svg{
        width: 13.8px;
        height: 13.8px;
    }

    /* circulito segunda pregunta */

    input[type="radio"]:checked + label .circulito2-form1{
        width: 30px;
        height: 30px;
    }

    .circulito2-form1{
        width: 30px;
        height: 30px;
    }

    .circulito2-form1 svg{
        width: 13.8px;
        height: 13.8px;
    }

    /* circulito tercera pregunta */

    input[type="checkbox"]:checked + label .circulito-checkbox{
        width: 30px;
        height: 30px;
        left: -16px; 
        top: 14px;
    }

    .circulito-checkbox{
        width: 30px;
        height: 30px;
    }

    .circulito-checkbox svg{
        width: 13.8px;
        height: 13.8px; 
    }

    /* circulito cuarta pregunta */

    input[type="radio"]:checked + label .circulito4-form1 {
        width: 30px;
        height: 30px;
    }

    .circulito4-form1{
        width: 30px;
        height: 30px;
    }
    
    .circulito4-form1 svg{
        width: 13.8px;
        height: 13.8px; 
    }

    /* label 1 op1*/

    .op1{
        padding-left: 28px;
        margin-bottom: 24px;
    }

    .op1 h4{
       font-size: 15px;
       line-height: 19px;
       width: 149px;
    }

    .dimensiones{
        height: 31.5px;
        width: 35px;
    }

    /* label 2 op2*/

    .op2{
        padding-left: 28px;
        height: 70px;
    }

    .op2 h4{
       font-size: 15px;
       line-height: 19px;
       width: 149px;
    }

    .dimensiones_2{
        height: 38.8px;
        width: 35px;
    }
    
    /* respuestas de la segunda pregunta */

    .op1-p2,
    .op2-p2,
    .op3-p2{
        height: 70px;
    }

    .op1-p2 h4,
    .op2-p2 h4,
    .op3-p2 h4 {
        height: auto;
        margin-top: 0px;
    }

    .dm-1{
        height: 43.1px;
        width: 35px;
    }

    .dm-2{
        height: 31.5px;
        width: 35px;
    }

    .dm-2 path {
        stroke-width: 5;
    }

    .dm-3{
        width: 35px;
        height: 35px;
    }

    .quest2-form1{
        margin-bottom: 0;
    }

    /* respuestas de la tercera pregunta */

    .check h4{
        font-size: 15px;
        position: absolute;
        left: 70px;
        text-align: left;
    }

    .checkbox7_form1 h4{
        width: 160px;
        line-height: 20px;
        top: 9px;
    }

    .checkbox_form1 .svg,
    .checkbox4_form1 .svg,
    .checkbox6_form1 .svg,
    .checkbox9_form2 .svg,
    .checkbox10_form2 .svg{
        left: 25px;
    }

    .checkbox2_form1 .svg,
    .checkbox3_form1 .svg,
    .checkbox5_form1 .svg,
    .checkbox7_form1 .svg,
    .checkbox8_form1 .svg{
        left: 27px;
    }

    /* respuestas de la cuarta pregunta */

    .p4 {
        height: 70px;
    }

    .dm-4 {
        height: 35px;
        width: 35px;
    }
    
    .p4 h4 {
        margin-top: 0px;
    }

    /* FORM--2 */

    /* respuestas de la segunda pregunta */

    .quest2-form2{
        margin-bottom: 0px;
    }

    .p-form2 {
        height: 70px;
    }

    .dm-5{
        width: 35px;
        height: 40px;
    }

    .dm-6{
        width: 39px;
        height: 33px;
    }

    .dm-6 path {
        stroke-width: 4;
    }
}


@media screen and (max-width: 739px) {
    #lastForm {
        left: 0%;
        margin-left: 0px;
    }

    .cubo {
        margin-right: 10px;
    }
}